<section id="about" class="wrap section observe">
    <h2>About</h2>
    <div class="about-grid">
        <div class="about-card sticker-sm">
            Hey, I'm Quy, call me Tim. I love doing backend programming.
            <br />
            <br />
            I'm passionate about IoT (Internet of Things), databases, and machine learning,
            and I'm constantly expanding my knowledge while exploring new ways to apply these
            technologies to solve real-world problems.
            <br />
            <br />
            Market trading is also my interests, there is something about managing risks and rewards
            that fascinates me. Also, I'm also learning about quant and algorithmic trading and hope to build
            something cool.
            <p class="muted" style="margin-top:14px">
                Currently living and studying in Montreal.
            </p>
        </div>

        <div class="photo">
            <img src="assets/me.jpg" alt="Portrait of Vu Luong Quy" />
        </div>
    </div>
</section>

<div class="divider"></div>
