<section id="contact" class="wrap section observe">
    <div class="contact">
        <div class="contact-left">
            <h3 class="splash">Let's build something together.</h3>

            <div class="li-badge-card sticker-sm">
                <p class="li-badge-title">Prefer LinkedIn?</p>

                <div class="li-badges">
                    <div class="li-badge li-badge--dark">
                        <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium"
                            data-theme="dark" data-type="VERTICAL" data-vanity="timvu2003" data-version="v1">
                            <a class="badge-base__link LI-simple-link"
                                href="https://ca.linkedin.com/in/timvu2003?trk=profile-badge">
                                Lương Quý Vũ
                            </a>
                        </div>
                    </div>

                    <div class="li-badge li-badge--light">
                        <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium"
                            data-theme="light" data-type="VERTICAL" data-vanity="timvu2003" data-version="v1">
                            <a class="badge-base__link LI-simple-link"
                                href="https://ca.linkedin.com/in/timvu2003?trk=profile-badge">
                                Lương Quý Vũ
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form id="contactForm" novalidate>
            <label for="name">Name</label>
            <input id="name" name="name" required placeholder="Name" />

            <label for="email">Email</label>
            <input id="email" name="email" type="email" required placeholder="Email Address" />

            <label for="msg">Message</label>
            <textarea id="msg" name="message" required placeholder="Message"></textarea>

            <input type="text" name="website" class="hp" autocomplete="off" tabindex="-1" aria-hidden="true" />
            <small class="helper">Don't hesitate to contact me.</small>
            <div style="margin-top:12px"><button class="btn" type="submit">Send</button></div>
            <p id="status" style="margin-top:10px;color:#b8c8db" aria-live="polite"></p>
        </form>
    </div>
</section>
